In [1]:
import mpl_toolkits
from mpl_toolkits import mplot3d
#base environment
%matplotlib inline 
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import random
import math as mt
import datetime
from datetime import datetime, timedelta, time

from mpl_toolkits.mplot3d import axes3d

import os

In [63]:
#if movies are in lots of different folders
file_list=[]
# folderpath='/Users/secchim/Downloads/CellProfiler/movie_processing/movie_output'
folderpath='/Users/secchim/Downloads/CellProfiler/movie_processing/old_movie_output'
for root,dirs, files in os.walk(folderpath):
    for file in files:
        if file.endswith('DP.csv'):
            # file_list.append(os.path.join(root,file))
            data=pd.read_csv(os.path.join(root,file), index_col=None, header=0)
            file_list.append(data)

dataDP=pd.concat(file_list, axis =0, ignore_index=True)
dataDP['Hoxb5_status']='DP'
print(dataDP)

file_list=[]
# folderpath='/Users/secchim/Downloads/CellProfiler/movie_processing/movie_output'
folderpath='/Users/secchim/Downloads/CellProfiler/movie_processing/old_movie_output'
for root,dirs, files in os.walk(folderpath):
    for file in files:
        if file.endswith('SP.csv'):
            # file_list.append(os.path.join(root,file))
            data=pd.read_csv(os.path.join(root,file), index_col=None, header=0)
            file_list.append(data)

dataSP=pd.concat(file_list, axis =0, ignore_index=True)
dataSP['Hoxb5_status']='SP'

    ImageNumber  ObjectNumber  Metadata_Channelnb  Metadata_FileLocation  \
0             1             1                 NaN                    NaN
1             2             1                 NaN                    NaN
2             3             1                 NaN                    NaN
3             4             1                 NaN                    NaN
4             5             1                 NaN                    NaN
..          ...           ...                 ...                    ...
71          107             1                 NaN                    NaN
72          108             1                 NaN                    NaN
73          109             1                 NaN                    NaN
74          115             1                 NaN                    NaN
75          116             1                 NaN                    NaN

    Metadata_Format1  Metadata_Format2  Metadata_Frame  Metadata_Series  \
0                NaN               NaN               0                0
1                NaN               NaN               0                0
2                NaN               NaN               0                0
3                NaN               NaN               0                0
4                NaN               NaN               0                0
..               ...               ...             ...              ...
71               NaN               NaN               0                0
72               NaN               NaN               0                0
73               NaN               NaN               0                0
74               NaN               NaN               0                0
75               NaN               NaN               0                0

    Metadata_Timepoint  Metadata_Timepoint.1  ...  \
0                    0                     0  ...
1                    1                     1  ...
2                    2                     2  ...
3                    3                     3  ...
4                    4                     4  ...
..                 ...                   ...  ...
71                   1                     1  ...
72                   2                     2  ...
73                   3                     3  ...
74                   9                     9  ...
75                  10                    10  ...

   Neighbors_SecondClosestDistance_Watershedautofluo_30  \
0                                            6.927851
1                                            6.805662
2                                            6.134633
3                                            6.553887
4                                            6.430122
..                                                ...
71                                           8.000523
72                                           7.936264
73                                           8.347340
74                                           5.933990
75                                           5.919439

   Neighbors_SecondClosestObjectNumber_200  \
0                                        0
1                                        0
2                                        0
3                                        0
4                                        0
..                                     ...
71                                       0
72                                       0
73                                       0
74                                       0
75                                       0

   Neighbors_SecondClosestObjectNumber_FilterObjectsMK_30  \
0                                                  21
1                                                  18
2                                                  19
3                                                  27
4                                                  15
..                                                ...
71                                                  5
72                                                  8
73                                                  7
74                                                  5
75                                                  7

   Neighbors_SecondClosestObjectNumber_FilterObjects_plt_30  \
0                                                  63
1                                                 219
2                                                 326
3                                                 179
4                                                  47
..                                                ...
71                                                 59
72                                                140
73                                                102
74                                                 20
75                                                140

   Neighbors_SecondClosestObjectNumber_FilterObjects_progenitors_30  \
0                                                   1
1                                                   0
2                                                   1
3                                                   0
4                                                  10
..                                                ...
71                                                  1
72                                                  1
73                                                  1
74                                                  1
75                                                  1

   Neighbors_SecondClosestObjectNumber_RemovedObjectsSP_200  \
0                                                   3
1                                                   3
2                                                   3
3                                                   3
4                                                   3
..                                                ...
71                                                  9
72                                                  7
73                                                  6
74                                                  5
75                                                  5

   Neighbors_SecondClosestObjectNumber_Watershedautofluo_30  \
0                                                  21
1                                                  46
2                                                  27
3                                                  34
4                                                  42
..                                                ...
71                                                 99
72                                                119
73                                                160
74                                                 36
75                                                 33

   Number_Object_Number Parent_KuO_segmentation Hoxb5_status
0                     1                       1           DP
1                     1                       1           DP
2                     1                       1           DP
3                     1                       1           DP
4                     1                       1           DP
..                  ...                     ...          ...
71                    1                       3           DP
72                    1                       3           DP
73                    1                       3           DP
74                    1                       1           DP
75                    1                       2           DP

[76 rows x 344 columns]

In [64]:
#Combining SP and DP
data=pd.concat([dataSP, dataDP], axis=0, ignore_index=True)
print(data)

# data.to_csv('/Users/secchim/Downloads/CellProfiler/movie_processing/old_movie_output/combined_data.csv')

      ImageNumber  ObjectNumber  Metadata_Channelnb  Metadata_FileLocation  \
0               1             1                 NaN                    NaN
1               1             2                 NaN                    NaN
2               2             1                 NaN                    NaN
3               2             2                 NaN                    NaN
4               3             1                 NaN                    NaN
...           ...           ...                 ...                    ...
1224          107             1                 NaN                    NaN
1225          108             1                 NaN                    NaN
1226          109             1                 NaN                    NaN
1227          115             1                 NaN                    NaN
1228          116             1                 NaN                    NaN

      Metadata_Format1  Metadata_Format2  Metadata_Frame  Metadata_Series  \
0                  NaN               NaN               0                0
1                  NaN               NaN               0                0
2                  NaN               NaN               0                0
3                  NaN               NaN               0                0
4                  NaN               NaN               0                0
...                ...               ...             ...              ...
1224               NaN               NaN               0                0
1225               NaN               NaN               0                0
1226               NaN               NaN               0                0
1227               NaN               NaN               0                0
1228               NaN               NaN               0                0

      Metadata_Timepoint  Metadata_Timepoint.1  ... Number_Object_Number  \
0                      0                     0  ...                    1
1                      0                     0  ...                    2
2                      1                     1  ...                    1
3                      1                     1  ...                    2
4                      2                     2  ...                    1
...                  ...                   ...  ...                  ...
1224                   1                     1  ...                    1
1225                   2                     2  ...                    1
1226                   3                     3  ...                    1
1227                   9                     9  ...                    1
1228                  10                    10  ...                    1

     Parent_KuO_segmentation Hoxb5_status  \
0                          2           SP
1                          3           SP
2                          2           SP
3                          3           SP
4                          2           SP
...                      ...          ...
1224                       3           DP
1225                       3           DP
1226                       3           DP
1227                       1           DP
1228                       2           DP

     Neighbors_AngleBetweenNeighbors_RemovedObjectsSP_200  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1224                                          59.945451
1225                                          57.724143
1226                                          63.703327
1227                                         114.330979
1228                                         127.088906

     Neighbors_FirstClosestDistance_RemovedObjectsSP_200  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1224                                           5.334742
1225                                           5.684219
1226                                           6.023937
1227                                           6.219180
1228                                           7.101439

     Neighbors_FirstClosestObjectNumber_RemovedObjectsSP_200  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1224                                                7.0
1225                                                6.0
1226                                                5.0
1227                                                4.0
1228                                                4.0

     Neighbors_NumberOfNeighbors_RemovedObjectsSP_200  \
0                                                 NaN
1                                                 NaN
2                                                 NaN
3                                                 NaN
4                                                 NaN
...                                               ...
1224                                              4.0
1225                                              3.0
1226                                              3.0
1227                                              2.0
1228                                              2.0

     Neighbors_PercentTouching_RemovedObjectsSP_200  \
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN
...                                             ...
1224                                          100.0
1225                                          100.0
1226                                          100.0
1227                                          100.0
1228                                          100.0

     Neighbors_SecondClosestDistance_RemovedObjectsSP_200  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1224                                          12.088055
1225                                           7.743477
1226                                           6.405720
1227                                          29.706492
1228                                          24.520118

     Neighbors_SecondClosestObjectNumber_RemovedObjectsSP_200
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
1224                                                9.0
1225                                                7.0
1226                                                6.0
1227                                                5.0
1228                                                5.0

[1229 rows x 353 columns]

In [65]:
#IMPORTING THE MICE METADATA
#date must be in the format of YYYY-MM-DD=> change manually in excell
metadata=pd.read_csv('/Users/secchim/Documents/230210_VWF_078_metadata_merged.csv')

metadata['Metadata_VWF']=(metadata['Position_Name']).str.replace('.czi_','_')
print(metadata['Metadata_VWF'])

# data['Metadata_VWF']=(data['Metadata_VWF']).str.replace('_movie_','_')
print(data['Metadata_VWF'])
data=pd.merge(data, metadata[:], on = 'Metadata_VWF')
print(len(data))

0                  VWF_078_MS230119_M1_tilescan_Day0_TR1
1      VWF_078_MS230119_M1_tilescan_Day0-Stitching-01...
2      VWF_078_MS230119_M1_tilescan_Day0-Stitching-01...
3                  VWF_078_MS230120_M1_tilescan_Day1_TR1
4                     VWF_078_MS230120_M1_zstack_Day1_P2
                             ...
98                          VWF_078_MS230123_M6_movie_P3
99                          VWF_078_MS230123_M6_movie_P7
100                         VWF_078_MS230123_M6_movie_P6
101                         VWF_078_MS230123_M6_movie_P4
102                         VWF_078_MS230123_M6_movie_P5
Name: Metadata_VWF, Length: 103, dtype: object
0       VWF_078_MS230123_M5_movie_P3
1       VWF_078_MS230123_M5_movie_P3
2       VWF_078_MS230123_M5_movie_P3
3       VWF_078_MS230123_M5_movie_P3
4       VWF_078_MS230123_M5_movie_P3
                    ...
1224    VWF_078_MS230123_M5_movie_P8
1225    VWF_078_MS230123_M5_movie_P8
1226    VWF_078_MS230123_M5_movie_P8
1227    VWF_078_MS230123_M5_movie_P8
1228    VWF_078_MS230123_M5_movie_P8
Name: Metadata_VWF, Length: 1229, dtype: object
1229

/var/folders/m1/973p2py16d5bwyw1r5whmn0hh54wfr/T/ipykernel_88753/3952524189.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  metadata['Metadata_VWF']=(metadata['Position_Name']).str.replace('.czi_','_')

In [30]:
data.to_csv('/Users/secchim/Downloads/CellProfiler/movie_processing/old_movie_output/combined_data.csv')

In [66]:
#TRACK ID IS UNIQUE PER CELL PER MOVIE
data['Track_ID'] = 'X'
data['Track_ID']=(data['Metadata_VWF']) +'_'+((data['Intensity_MaxIntensity_track']).astype(str))
# data.to_csv('/Users/secchim/Downloads/CellProfiler/movie_pipeline_test/KuOTrackingRemovedObjectsSPbin.csv', index=False)

#REMOVE CELLS THAT WERE NOT TRACKED IN TRACKMATE
print(data.index)
data= data[data['Intensity_MaxIntensity_track'] != 0] #worked
print(data.index)
print(data)

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228],
           dtype='int64', length=1229)
Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228],
           dtype='int64', length=1229)
      ImageNumber  ObjectNumber  Metadata_Channelnb  Metadata_FileLocation  \
0               1             1                 NaN                    NaN
1               1             2                 NaN                    NaN
2               2             1                 NaN                    NaN
3               2             2                 NaN                    NaN
4               3             1                 NaN                    NaN
...           ...           ...                 ...                    ...
1224          107             1                 NaN                    NaN
1225          108             1                 NaN                    NaN
1226          109             1                 NaN                    NaN
1227          115             1                 NaN                    NaN
1228          116             1                 NaN                    NaN

      Metadata_Format1  Metadata_Format2  Metadata_Frame  Metadata_Series  \
0                  NaN               NaN               0                0
1                  NaN               NaN               0                0
2                  NaN               NaN               0                0
3                  NaN               NaN               0                0
4                  NaN               NaN               0                0
...                ...               ...             ...              ...
1224               NaN               NaN               0                0
1225               NaN               NaN               0                0
1226               NaN               NaN               0                0
1227               NaN               NaN               0                0
1228               NaN               NaN               0                0

      Metadata_Timepoint  Metadata_Timepoint.1  ... Tilerow Tilecolumn   N_X  \
0                      0                     0  ...       1          1  2886
1                      0                     0  ...       1          1  2886
2                      1                     1  ...       1          1  2886
3                      1                     1  ...       1          1  2886
4                      2                     2  ...       1          1  2886
...                  ...                   ...  ...     ...        ...   ...
1224                   1                     1  ...       1          1  2886
1225                   2                     2  ...       1          1  2886
1226                   3                     3  ...       1          1  2886
1227                   9                     9  ...       1          1  2886
1228                  10                    10  ...       1          1  2886

       N_Y              Original_Filename       Scale_X       Scale_Y  \
0     3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
1     3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
2     3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
3     3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
4     3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
...    ...                            ...           ...           ...
1224  3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
1225  3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
1226  3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
1227  3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07
1228  3628  VWF_078_MS230123_M5_movie.czi  4.870000e-07  4.870000e-07

       Scale_Z Datatype                                           Track_ID
0     0.000003    movie  VWF_078_MS230123_M5_movie_P3_3.051804378628731...
1     0.000003    movie  VWF_078_MS230123_M5_movie_P3_4.577706567943096...
2     0.000003    movie  VWF_078_MS230123_M5_movie_P3_3.051804378628731...
3     0.000003    movie  VWF_078_MS230123_M5_movie_P3_4.577706567943096...
4     0.000003    movie  VWF_078_MS230123_M5_movie_P3_3.051804378628731...
...        ...      ...                                                ...
1224  0.000003    movie    VWF_078_MS230123_M5_movie_P8_0.0001525902189314
1225  0.000003    movie    VWF_078_MS230123_M5_movie_P8_0.0001525902189314
1226  0.000003    movie    VWF_078_MS230123_M5_movie_P8_0.0001525902189314
1227  0.000003    movie    VWF_078_MS230123_M5_movie_P8_0.0001525902189314
1228  0.000003    movie    VWF_078_MS230123_M5_movie_P8_0.0001525902189314

[1229 rows x 394 columns]

In [68]:
#time per timepoint
from datetime import datetime
from datetime import timedelta
# print(str(data['AcquisitionDate']),str(data['AcquisitionTime']))
#https://docs.python.org/3/library/datetime.html#timedelta-objects

#Acquisition date must be in the format of YYYY-MM-DD=> change manually in excell if needed
#Run this line to correct for the weird Zen format
data['AcquisitionTime']=data['AcquisitionTime'].str[:8]
# print(data['AcquisitionTime_x'])
# data.to_csv('/Users/secchim/Downloads/CellProfiler/movie_processing/old_movie_output/combined_data.csv')
# data=pd.read_csv('/Users/secchim/Downloads/CellProfiler/movie_processing/old_movie_output/combined_data.csv')

for i in data.index:
    data.loc[i, 'Timeframe_Time']=(datetime.fromisoformat(str(data.loc[i, 'AcquisitionDate']+' '+data.loc[i, 'AcquisitionTime'])))+timedelta(minutes=int(3*(data.loc[i, 'Metadata_Timepoint'])))
# data.to_csv('/Users/secchim/Downloads/CellProfiler/movie_processing/old_movie_output/combined_data.csv')

In [69]:
#NORMALIZING POSITIONS TO THE FIRST COORDINATES
#do on the unique Cell_ID rather than Track_ID
#PROBLEM OF I DONT HAVE THE Z FOR THE STAGE POSITION
data['corrected_x_2']=data['Location_Center_X']
data['corrected_y_2']=data['Location_Center_Y']
data['corrected_z_2']=data['Location_Center_Z']
data['norm_x']=0
grouped=data.groupby(['Track_ID'])

dflist=[]
print(grouped)
for i, newdf in grouped:
    newdf2=newdf[newdf['Metadata_Timepoint'] == (newdf['Metadata_Timepoint']).min()]#or '0'?
    norm_x=newdf2['Location_Center_X'].values
    norm_y=newdf2['Location_Center_Y'].values
    norm_z=newdf2['Location_Center_Z'].values

    newdf['norm_x']=[norm_x[0]]*len(newdf)#you could create pd.Series
    # print(newdf['norm_x'])
    newdf['corrected_x_2']=((newdf['Location_Center_X']-newdf['norm_x'])*(newdf['Scale_X'])*1000000)
    # print(newdf['corrected_x_2'])
    newdf['norm_y']=[norm_y[0]]*len(newdf)#you could create pd.Series
    newdf['corrected_y_2']=((newdf['Location_Center_Y']-newdf['norm_y'])*(newdf['Scale_Y'])*1000000)
    newdf['norm_z']=[norm_z[0]]*len(newdf)#you could create pd.Series
    newdf['corrected_z_2']=((newdf['Location_Center_Z']-newdf['norm_z'])*(newdf['Scale_Z'])*1000000)
    dflist.append(newdf)
data=pd.concat(dflist)
print(data)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x1191abcd0>

/var/folders/m1/973p2py16d5bwyw1r5whmn0hh54wfr/T/ipykernel_88753/3767451163.py:12: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for i, newdf in grouped:

      ImageNumber  ObjectNumber  Metadata_Channelnb  Metadata_FileLocation  \
21              1             1                 NaN                    NaN
22              2             1                 NaN                    NaN
23              3             1                 NaN                    NaN
24              4             1                 NaN                    NaN
25              5             1                 NaN                    NaN
...           ...           ...                 ...                    ...
1080          117             8                 NaN                    NaN
1092          118             9                 NaN                    NaN
1103          119             9                 NaN                    NaN
1120          120             8                 NaN                    NaN
1141          121            10                 NaN                    NaN

      Metadata_Format1  Metadata_Format2  Metadata_Frame  Metadata_Series  \
21                 NaN               NaN               0                0
22                 NaN               NaN               0                0
23                 NaN               NaN               0                0
24                 NaN               NaN               0                0
25                 NaN               NaN               0                0
...                ...               ...             ...              ...
1080               NaN               NaN               0                0
1092               NaN               NaN               0                0
1103               NaN               NaN               0                0
1120               NaN               NaN               0                0
1141               NaN               NaN               0                0

      Metadata_Timepoint  Metadata_Timepoint.1  ...   Scale_Z Datatype  \
21                     0                     0  ...  0.000003    movie
22                     1                     1  ...  0.000003    movie
23                     2                     2  ...  0.000003    movie
24                     3                     3  ...  0.000003    movie
25                     4                     4  ...  0.000003    movie
...                  ...                   ...  ...       ...      ...
1080                  11                    11  ...  0.000003    movie
1092                  12                    12  ...  0.000003    movie
1103                  13                    13  ...  0.000003    movie
1120                  14                    14  ...  0.000003    movie
1141                  15                    15  ...  0.000003    movie

                                               Track_ID      Timeframe_Time  \
21    VWF_078_MS230123_M5_movie_P3_1.525902189314365... 2023-01-23 11:01:08
22    VWF_078_MS230123_M5_movie_P3_1.525902189314365... 2023-01-23 11:04:08
23    VWF_078_MS230123_M5_movie_P3_1.525902189314365... 2023-01-23 11:07:08
24    VWF_078_MS230123_M5_movie_P3_1.525902189314365... 2023-01-23 11:10:08
25    VWF_078_MS230123_M5_movie_P3_1.525902189314365... 2023-01-23 11:13:08
...                                                 ...                 ...
1080  VWF_078_MS230123_M5_movie_P8_9.155413135886192... 2023-01-23 11:34:08
1092  VWF_078_MS230123_M5_movie_P8_9.155413135886192... 2023-01-23 11:37:08
1103  VWF_078_MS230123_M5_movie_P8_9.155413135886192... 2023-01-23 11:40:08
1120  VWF_078_MS230123_M5_movie_P8_9.155413135886192... 2023-01-23 11:43:08
1141  VWF_078_MS230123_M5_movie_P8_9.155413135886192... 2023-01-23 11:46:08

     corrected_x_2 corrected_y_2 corrected_z_2      norm_x      norm_y  \
21        0.000000      0.000000      0.000000  116.620370  299.000000
22       -0.726363     -0.097902     -0.703465  116.620370  299.000000
23       -1.506658     -0.887895      0.278464  116.620370  299.000000
24       -0.357947      0.949056     -0.618225  116.620370  299.000000
25       -1.212849      0.358539      0.473863  116.620370  299.000000
...            ...           ...           ...         ...         ...
1080      5.423376     -0.362952     -1.964350   83.131579  321.610048
1092      3.804243     -0.048688     -1.540635   83.131579  321.610048
1103      1.886675      1.372790     -2.024329   83.131579  321.610048
1120      3.758359      0.607312     -2.825900   83.131579  321.610048
1141     14.034218     -3.509646     -1.265169   83.131579  321.610048

        norm_z
21    1.523148
22    1.523148
23    1.523148
24    1.523148
25    1.523148
...        ...
1080  9.851675
1092  9.851675
1103  9.851675
1120  9.851675
1141  9.851675

[1229 rows x 401 columns]

In [70]:
#added these lines when not calculating FINAL CELL ID
data['Cell_group']=data['FileID']+'_'+data['Cell_name']
data['Final_Cell_ID']=data['Track_ID']
######
grouped=data.groupby(['Final_Cell_ID'])
dflist=[]
#sorting values so the next frame is accurate
for i, newdf in grouped:
    newdf=newdf.sort_values(by=['Timeframe_Time'])
    print(newdf['Timeframe_Time'])
    dflist.append(newdf)
data=pd.concat(dflist)   

#Step adding the location of the next frame to do the normalization
#shift takes the next row(?) and puts it in the current row
data["corrected_x_2_next"] = data["corrected_x_2"].shift(-1)
data["corrected_y_2_next"] = data["corrected_y_2"].shift(-1)
data["corrected_z_2_next"] = data["corrected_z_2"].shift(-1)
print(data["corrected_x_2_next"], data ["corrected_x_2"])

/var/folders/m1/973p2py16d5bwyw1r5whmn0hh54wfr/T/ipykernel_88753/2045016582.py:7: FutureWarning: In a future version of pandas, a length 1 tuple will be returned when iterating over a groupby with a grouper equal to a list of length 1. Don't supply a list with a single grouper to avoid this warning.
  for i, newdf in grouped:

21   2023-01-23 11:01:08
22   2023-01-23 11:04:08
23   2023-01-23 11:07:08
24   2023-01-23 11:10:08
25   2023-01-23 11:13:08
26   2023-01-23 11:16:08
28   2023-01-23 11:19:08
29   2023-01-23 11:22:08
30   2023-01-23 11:25:08
31   2023-01-23 11:28:08
32   2023-01-23 11:31:08
34   2023-01-23 11:34:08
37   2023-01-23 11:37:08
40   2023-01-23 11:40:08
42   2023-01-23 11:43:08
45   2023-01-23 11:46:08
48   2023-01-23 11:49:08
51   2023-01-23 11:52:08
54   2023-01-23 11:55:08
57   2023-01-23 11:58:08
60   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
0    2023-01-23 11:01:08
2    2023-01-23 11:04:08
4    2023-01-23 11:07:08
6    2023-01-23 11:10:08
8    2023-01-23 11:13:08
27   2023-01-23 11:16:08
11   2023-01-23 11:19:08
13   2023-01-23 11:22:08
15   2023-01-23 11:25:08
17   2023-01-23 11:28:08
19   2023-01-23 11:31:08
35   2023-01-23 11:34:08
38   2023-01-23 11:37:08
20   2023-01-23 11:40:08
43   2023-01-23 11:43:08
46   2023-01-23 11:46:08
49   2023-01-23 11:49:08
52   2023-01-23 11:52:08
55   2023-01-23 11:55:08
58   2023-01-23 11:58:08
61   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
1    2023-01-23 11:01:08
3    2023-01-23 11:04:08
5    2023-01-23 11:07:08
7    2023-01-23 11:10:08
9    2023-01-23 11:13:08
10   2023-01-23 11:16:08
12   2023-01-23 11:19:08
14   2023-01-23 11:22:08
16   2023-01-23 11:25:08
18   2023-01-23 11:28:08
33   2023-01-23 11:31:08
36   2023-01-23 11:34:08
39   2023-01-23 11:37:08
41   2023-01-23 11:40:08
44   2023-01-23 11:43:08
47   2023-01-23 11:46:08
50   2023-01-23 11:49:08
53   2023-01-23 11:52:08
56   2023-01-23 11:55:08
59   2023-01-23 11:58:08
62   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
67    2023-01-23 11:01:08
85    2023-01-23 11:04:08
104   2023-01-23 11:07:08
123   2023-01-23 11:10:08
144   2023-01-23 11:13:08
189   2023-01-23 11:19:08
214   2023-01-23 11:22:08
236   2023-01-23 11:25:08
258   2023-01-23 11:28:08
277   2023-01-23 11:31:08
295   2023-01-23 11:34:08
320   2023-01-23 11:37:08
345   2023-01-23 11:40:08
367   2023-01-23 11:43:08
393   2023-01-23 11:46:08
423   2023-01-23 11:49:08
443   2023-01-23 11:52:08
463   2023-01-23 11:55:08
528   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
64    2023-01-23 11:01:08
81    2023-01-23 11:04:08
111   2023-01-23 11:07:08
155   2023-01-23 11:13:08
199   2023-01-23 11:19:08
Name: Timeframe_Time, dtype: datetime64[ns]
73   2023-01-23 11:01:08
92   2023-01-23 11:04:08
Name: Timeframe_Time, dtype: datetime64[ns]
74    2023-01-23 11:01:08
88    2023-01-23 11:04:08
128   2023-01-23 11:10:08
Name: Timeframe_Time, dtype: datetime64[ns]
65    2023-01-23 11:01:08
86    2023-01-23 11:04:08
105   2023-01-23 11:07:08
122   2023-01-23 11:10:08
143   2023-01-23 11:13:08
Name: Timeframe_Time, dtype: datetime64[ns]
91    2023-01-23 11:04:08
106   2023-01-23 11:07:08
133   2023-01-23 11:10:08
147   2023-01-23 11:13:08
198   2023-01-23 11:19:08
222   2023-01-23 11:22:08
243   2023-01-23 11:25:08
281   2023-01-23 11:31:08
298   2023-01-23 11:34:08
328   2023-01-23 11:37:08
348   2023-01-23 11:40:08
379   2023-01-23 11:43:08
401   2023-01-23 11:46:08
426   2023-01-23 11:49:08
448   2023-01-23 11:52:08
500   2023-01-23 11:58:08
522   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
80    2023-01-23 11:04:08
100   2023-01-23 11:07:08
139   2023-01-23 11:13:08
173   2023-01-23 11:16:08
240   2023-01-23 11:25:08
266   2023-01-23 11:28:08
285   2023-01-23 11:31:08
297   2023-01-23 11:34:08
315   2023-01-23 11:37:08
399   2023-01-23 11:46:08
432   2023-01-23 11:49:08
477   2023-01-23 11:55:08
503   2023-01-23 11:58:08
Name: Timeframe_Time, dtype: datetime64[ns]
93    2023-01-23 11:04:08
116   2023-01-23 11:07:08
120   2023-01-23 11:10:08
175   2023-01-23 11:16:08
205   2023-01-23 11:19:08
219   2023-01-23 11:22:08
273   2023-01-23 11:28:08
289   2023-01-23 11:31:08
331   2023-01-23 11:37:08
358   2023-01-23 11:40:08
378   2023-01-23 11:43:08
411   2023-01-23 11:46:08
Name: Timeframe_Time, dtype: datetime64[ns]
94    2023-01-23 11:04:08
112   2023-01-23 11:07:08
118   2023-01-23 11:10:08
140   2023-01-23 11:13:08
161   2023-01-23 11:16:08
190   2023-01-23 11:19:08
210   2023-01-23 11:22:08
233   2023-01-23 11:25:08
323   2023-01-23 11:37:08
343   2023-01-23 11:40:08
364   2023-01-23 11:43:08
391   2023-01-23 11:46:08
428   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
95    2023-01-23 11:04:08
103   2023-01-23 11:07:08
142   2023-01-23 11:13:08
162   2023-01-23 11:16:08
186   2023-01-23 11:19:08
216   2023-01-23 11:22:08
Name: Timeframe_Time, dtype: datetime64[ns]
102   2023-01-23 11:07:08
126   2023-01-23 11:10:08
Name: Timeframe_Time, dtype: datetime64[ns]
134   2023-01-23 11:10:08
152   2023-01-23 11:13:08
177   2023-01-23 11:16:08
Name: Timeframe_Time, dtype: datetime64[ns]
135   2023-01-23 11:10:08
145   2023-01-23 11:13:08
168   2023-01-23 11:16:08
185   2023-01-23 11:19:08
Name: Timeframe_Time, dtype: datetime64[ns]
136   2023-01-23 11:10:08
154   2023-01-23 11:13:08
176   2023-01-23 11:16:08
Name: Timeframe_Time, dtype: datetime64[ns]
138   2023-01-23 11:10:08
159   2023-01-23 11:13:08
183   2023-01-23 11:16:08
206   2023-01-23 11:19:08
228   2023-01-23 11:22:08
252   2023-01-23 11:25:08
290   2023-01-23 11:31:08
313   2023-01-23 11:34:08
Name: Timeframe_Time, dtype: datetime64[ns]
130   2023-01-23 11:10:08
141   2023-01-23 11:13:08
Name: Timeframe_Time, dtype: datetime64[ns]
150   2023-01-23 11:13:08
172   2023-01-23 11:16:08
194   2023-01-23 11:19:08
224   2023-01-23 11:22:08
241   2023-01-23 11:25:08
261   2023-01-23 11:28:08
Name: Timeframe_Time, dtype: datetime64[ns]
153   2023-01-23 11:13:08
182   2023-01-23 11:16:08
203   2023-01-23 11:19:08
230   2023-01-23 11:22:08
246   2023-01-23 11:25:08
272   2023-01-23 11:28:08
310   2023-01-23 11:34:08
337   2023-01-23 11:37:08
354   2023-01-23 11:40:08
376   2023-01-23 11:43:08
403   2023-01-23 11:46:08
480   2023-01-23 11:55:08
509   2023-01-23 11:58:08
544   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
181   2023-01-23 11:16:08
202   2023-01-23 11:19:08
Name: Timeframe_Time, dtype: datetime64[ns]
164   2023-01-23 11:16:08
187   2023-01-23 11:19:08
212   2023-01-23 11:22:08
237   2023-01-23 11:25:08
262   2023-01-23 11:28:08
280   2023-01-23 11:31:08
303   2023-01-23 11:34:08
318   2023-01-23 11:37:08
349   2023-01-23 11:40:08
366   2023-01-23 11:43:08
398   2023-01-23 11:46:08
422   2023-01-23 11:49:08
444   2023-01-23 11:52:08
Name: Timeframe_Time, dtype: datetime64[ns]
160   2023-01-23 11:16:08
204   2023-01-23 11:19:08
225   2023-01-23 11:22:08
Name: Timeframe_Time, dtype: datetime64[ns]
166   2023-01-23 11:16:08
191   2023-01-23 11:19:08
226   2023-01-23 11:22:08
242   2023-01-23 11:25:08
279   2023-01-23 11:31:08
307   2023-01-23 11:34:08
Name: Timeframe_Time, dtype: datetime64[ns]
167   2023-01-23 11:16:08
550   2023-01-23 11:19:08
234   2023-01-23 11:25:08
259   2023-01-23 11:28:08
301   2023-01-23 11:34:08
322   2023-01-23 11:37:08
Name: Timeframe_Time, dtype: datetime64[ns]
184   2023-01-23 11:19:08
218   2023-01-23 11:22:08
247   2023-01-23 11:25:08
255   2023-01-23 11:28:08
286   2023-01-23 11:31:08
304   2023-01-23 11:34:08
Name: Timeframe_Time, dtype: datetime64[ns]
217   2023-01-23 11:22:08
239   2023-01-23 11:25:08
265   2023-01-23 11:28:08
283   2023-01-23 11:31:08
302   2023-01-23 11:34:08
332   2023-01-23 11:37:08
351   2023-01-23 11:40:08
397   2023-01-23 11:46:08
429   2023-01-23 11:49:08
453   2023-01-23 11:52:08
471   2023-01-23 11:55:08
502   2023-01-23 11:58:08
535   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
208   2023-01-23 11:22:08
231   2023-01-23 11:25:08
256   2023-01-23 11:28:08
Name: Timeframe_Time, dtype: datetime64[ns]
249   2023-01-23 11:25:08
270   2023-01-23 11:28:08
291   2023-01-23 11:31:08
314   2023-01-23 11:34:08
327   2023-01-23 11:37:08
355   2023-01-23 11:40:08
Name: Timeframe_Time, dtype: datetime64[ns]
260   2023-01-23 11:28:08
278   2023-01-23 11:31:08
296   2023-01-23 11:34:08
321   2023-01-23 11:37:08
344   2023-01-23 11:40:08
369   2023-01-23 11:43:08
396   2023-01-23 11:46:08
424   2023-01-23 11:49:08
445   2023-01-23 11:52:08
495   2023-01-23 11:58:08
529   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
269   2023-01-23 11:28:08
284   2023-01-23 11:31:08
311   2023-01-23 11:34:08
333   2023-01-23 11:37:08
350   2023-01-23 11:40:08
377   2023-01-23 11:43:08
409   2023-01-23 11:46:08
434   2023-01-23 11:49:08
450   2023-01-23 11:52:08
481   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
263   2023-01-23 11:28:08
287   2023-01-23 11:31:08
308   2023-01-23 11:34:08
359   2023-01-23 11:40:08
384   2023-01-23 11:43:08
412   2023-01-23 11:46:08
Name: Timeframe_Time, dtype: datetime64[ns]
294   2023-01-23 11:34:08
324   2023-01-23 11:37:08
554   2023-01-23 11:43:08
395   2023-01-23 11:46:08
555   2023-01-23 11:49:08
447   2023-01-23 11:52:08
465   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
309   2023-01-23 11:34:08
338   2023-01-23 11:37:08
352   2023-01-23 11:40:08
368   2023-01-23 11:43:08
394   2023-01-23 11:46:08
419   2023-01-23 11:49:08
467   2023-01-23 11:55:08
490   2023-01-23 11:58:08
521   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
312   2023-01-23 11:34:08
330   2023-01-23 11:37:08
361   2023-01-23 11:40:08
365   2023-01-23 11:43:08
392   2023-01-23 11:46:08
474   2023-01-23 11:55:08
494   2023-01-23 11:58:08
Name: Timeframe_Time, dtype: datetime64[ns]
335   2023-01-23 11:37:08
362   2023-01-23 11:40:08
383   2023-01-23 11:43:08
Name: Timeframe_Time, dtype: datetime64[ns]
317   2023-01-23 11:37:08
353   2023-01-23 11:40:08
382   2023-01-23 11:43:08
402   2023-01-23 11:46:08
416   2023-01-23 11:49:08
459   2023-01-23 11:55:08
506   2023-01-23 11:58:08
539   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
552   2023-01-23 11:37:08
342   2023-01-23 11:40:08
374   2023-01-23 11:43:08
390   2023-01-23 11:46:08
420   2023-01-23 11:49:08
441   2023-01-23 11:52:08
504   2023-01-23 11:58:08
Name: Timeframe_Time, dtype: datetime64[ns]
356   2023-01-23 11:40:08
381   2023-01-23 11:43:08
410   2023-01-23 11:46:08
Name: Timeframe_Time, dtype: datetime64[ns]
386   2023-01-23 11:43:08
407   2023-01-23 11:46:08
436   2023-01-23 11:49:08
479   2023-01-23 11:55:08
511   2023-01-23 11:58:08
543   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
387   2023-01-23 11:43:08
415   2023-01-23 11:46:08
Name: Timeframe_Time, dtype: datetime64[ns]
371   2023-01-23 11:43:08
408   2023-01-23 11:46:08
Name: Timeframe_Time, dtype: datetime64[ns]
373   2023-01-23 11:43:08
405   2023-01-23 11:46:08
501   2023-01-23 11:58:08
525   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
427   2023-01-23 11:49:08
442   2023-01-23 11:52:08
461   2023-01-23 11:55:08
492   2023-01-23 11:58:08
Name: Timeframe_Time, dtype: datetime64[ns]
388   2023-01-23 11:46:08
417   2023-01-23 11:49:08
451   2023-01-23 11:52:08
507   2023-01-23 11:58:08
547   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
404   2023-01-23 11:46:08
431   2023-01-23 11:49:08
439   2023-01-23 11:52:08
457   2023-01-23 11:55:08
531   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
406   2023-01-23 11:46:08
421   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
456   2023-01-23 11:52:08
484   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
475   2023-01-23 11:55:08
496   2023-01-23 11:58:08
Name: Timeframe_Time, dtype: datetime64[ns]
476   2023-01-23 11:55:08
489   2023-01-23 11:58:08
532   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
513   2023-01-23 11:58:08
Name: Timeframe_Time, dtype: datetime64[ns]
460   2023-01-23 11:55:08
491   2023-01-23 11:58:08
519   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
505   2023-01-23 11:58:08
Name: Timeframe_Time, dtype: datetime64[ns]
510   2023-01-23 11:58:08
545   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
512   2023-01-23 11:58:08
530   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
514   2023-01-23 11:58:08
548   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
493   2023-01-23 11:58:08
541   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
499   2023-01-23 11:58:08
515   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
75   2023-01-23 11:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
66   2023-01-23 11:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
79   2023-01-23 11:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
68   2023-01-23 11:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
70   2023-01-23 11:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
72   2023-01-23 11:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
90   2023-01-23 11:04:08
Name: Timeframe_Time, dtype: datetime64[ns]
84   2023-01-23 11:04:08
Name: Timeframe_Time, dtype: datetime64[ns]
96   2023-01-23 11:04:08
Name: Timeframe_Time, dtype: datetime64[ns]
97   2023-01-23 11:04:08
Name: Timeframe_Time, dtype: datetime64[ns]
98   2023-01-23 11:04:08
Name: Timeframe_Time, dtype: datetime64[ns]
99   2023-01-23 11:04:08
Name: Timeframe_Time, dtype: datetime64[ns]
109   2023-01-23 11:07:08
Name: Timeframe_Time, dtype: datetime64[ns]
114   2023-01-23 11:07:08
Name: Timeframe_Time, dtype: datetime64[ns]
125   2023-01-23 11:10:08
Name: Timeframe_Time, dtype: datetime64[ns]
121   2023-01-23 11:10:08
Name: Timeframe_Time, dtype: datetime64[ns]
117   2023-01-23 11:10:08
Name: Timeframe_Time, dtype: datetime64[ns]
129   2023-01-23 11:10:08
Name: Timeframe_Time, dtype: datetime64[ns]
132   2023-01-23 11:10:08
Name: Timeframe_Time, dtype: datetime64[ns]
137   2023-01-23 11:10:08
Name: Timeframe_Time, dtype: datetime64[ns]
151   2023-01-23 11:13:08
Name: Timeframe_Time, dtype: datetime64[ns]
158   2023-01-23 11:13:08
Name: Timeframe_Time, dtype: datetime64[ns]
163   2023-01-23 11:16:08
Name: Timeframe_Time, dtype: datetime64[ns]
165   2023-01-23 11:16:08
Name: Timeframe_Time, dtype: datetime64[ns]
171   2023-01-23 11:16:08
Name: Timeframe_Time, dtype: datetime64[ns]
174   2023-01-23 11:16:08
Name: Timeframe_Time, dtype: datetime64[ns]
178   2023-01-23 11:16:08
Name: Timeframe_Time, dtype: datetime64[ns]
193   2023-01-23 11:19:08
Name: Timeframe_Time, dtype: datetime64[ns]
195   2023-01-23 11:19:08
Name: Timeframe_Time, dtype: datetime64[ns]
201   2023-01-23 11:19:08
Name: Timeframe_Time, dtype: datetime64[ns]
207   2023-01-23 11:19:08
Name: Timeframe_Time, dtype: datetime64[ns]
188   2023-01-23 11:19:08
Name: Timeframe_Time, dtype: datetime64[ns]
229   2023-01-23 11:22:08
Name: Timeframe_Time, dtype: datetime64[ns]
211   2023-01-23 11:22:08
Name: Timeframe_Time, dtype: datetime64[ns]
213   2023-01-23 11:22:08
Name: Timeframe_Time, dtype: datetime64[ns]
215   2023-01-23 11:22:08
Name: Timeframe_Time, dtype: datetime64[ns]
248   2023-01-23 11:25:08
Name: Timeframe_Time, dtype: datetime64[ns]
250   2023-01-23 11:25:08
Name: Timeframe_Time, dtype: datetime64[ns]
251   2023-01-23 11:25:08
Name: Timeframe_Time, dtype: datetime64[ns]
253   2023-01-23 11:25:08
Name: Timeframe_Time, dtype: datetime64[ns]
232   2023-01-23 11:25:08
Name: Timeframe_Time, dtype: datetime64[ns]
254   2023-01-23 11:25:08
Name: Timeframe_Time, dtype: datetime64[ns]
235   2023-01-23 11:25:08
Name: Timeframe_Time, dtype: datetime64[ns]
551   2023-01-23 11:28:08
Name: Timeframe_Time, dtype: datetime64[ns]
264   2023-01-23 11:28:08
Name: Timeframe_Time, dtype: datetime64[ns]
271   2023-01-23 11:28:08
Name: Timeframe_Time, dtype: datetime64[ns]
274   2023-01-23 11:28:08
Name: Timeframe_Time, dtype: datetime64[ns]
288   2023-01-23 11:31:08
Name: Timeframe_Time, dtype: datetime64[ns]
275   2023-01-23 11:31:08
Name: Timeframe_Time, dtype: datetime64[ns]
299   2023-01-23 11:34:08
Name: Timeframe_Time, dtype: datetime64[ns]
306   2023-01-23 11:34:08
Name: Timeframe_Time, dtype: datetime64[ns]
293   2023-01-23 11:34:08
Name: Timeframe_Time, dtype: datetime64[ns]
553   2023-01-23 11:37:08
Name: Timeframe_Time, dtype: datetime64[ns]
336   2023-01-23 11:37:08
Name: Timeframe_Time, dtype: datetime64[ns]
316   2023-01-23 11:37:08
Name: Timeframe_Time, dtype: datetime64[ns]
319   2023-01-23 11:37:08
Name: Timeframe_Time, dtype: datetime64[ns]
326   2023-01-23 11:37:08
Name: Timeframe_Time, dtype: datetime64[ns]
329   2023-01-23 11:37:08
Name: Timeframe_Time, dtype: datetime64[ns]
346   2023-01-23 11:40:08
Name: Timeframe_Time, dtype: datetime64[ns]
363   2023-01-23 11:40:08
Name: Timeframe_Time, dtype: datetime64[ns]
357   2023-01-23 11:40:08
Name: Timeframe_Time, dtype: datetime64[ns]
339   2023-01-23 11:40:08
Name: Timeframe_Time, dtype: datetime64[ns]
340   2023-01-23 11:40:08
Name: Timeframe_Time, dtype: datetime64[ns]
385   2023-01-23 11:43:08
Name: Timeframe_Time, dtype: datetime64[ns]
375   2023-01-23 11:43:08
Name: Timeframe_Time, dtype: datetime64[ns]
414   2023-01-23 11:46:08
Name: Timeframe_Time, dtype: datetime64[ns]
430   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
433   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
435   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
437   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
438   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
425   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
418   2023-01-23 11:49:08
Name: Timeframe_Time, dtype: datetime64[ns]
449   2023-01-23 11:52:08
Name: Timeframe_Time, dtype: datetime64[ns]
454   2023-01-23 11:52:08
Name: Timeframe_Time, dtype: datetime64[ns]
455   2023-01-23 11:52:08
Name: Timeframe_Time, dtype: datetime64[ns]
473   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
478   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
482   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
483   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
472   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
485   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
486   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
487   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
488   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
469   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
462   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
464   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
466   2023-01-23 11:55:08
Name: Timeframe_Time, dtype: datetime64[ns]
556   2023-01-23 11:58:08
Name: Timeframe_Time, dtype: datetime64[ns]
516   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
517   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
520   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
524   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
527   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
533   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
536   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
537   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
538   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
540   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
526   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
546   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
549   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
523   2023-01-23 12:01:08
Name: Timeframe_Time, dtype: datetime64[ns]
76    2023-01-23 11:01:08
83    2023-01-23 11:04:08
108   2023-01-23 11:07:08
Name: Timeframe_Time, dtype: datetime64[ns]
69    2023-01-23 11:01:08
107   2023-01-23 11:07:08
124   2023-01-23 11:10:08
149   2023-01-23 11:13:08
170   2023-01-23 11:16:08
197   2023-01-23 11:19:08